---
import {Icon} from "astro-icon";
import  data from "../data/services.json"
---

<section class="services container-sm">
  {data.map(s=>(
    <div class="service">
      <div class="service--icon content-white">
        <Icon name={`feather:${s.icon}`} width={30}/>
      </div>
      <h3>{s.name}</h3>
      <p class="content-muted">{s.content}</p>
    </div>
  ))}
</section>