---
const{title="THIS IS A PAGE"} = Astro.props;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style global>
    @import "../styles/global.css";
    @import "../styles/home.css";
	</style>
</head>
<body>
	<main>
		<slot/>
	</main>
  <footer>
    <small>Copyright ⓒ <span id="copyrightYear"></span>SkipEveryLunch</small>
  </footer>
  <script>
    document.getElementById("copyrightYear").textContent = new Date().getFullYear();
  </script>
</body>
</html>
